name: Test conecta-python

on:
  # allows to be called from other workflow
  workflow_call:

  workflow_dispatch:
  push:
    paths-ignore:
      - '*.md'
    branches:
      - master
  pull_request:
    paths-ignore:
      - '*.md'
    branches:
      - master

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v6
      - name: Setup rust
        working-directory: conecta-python
        run: |
          rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }} && rustup component add rustfmt

      - run: cargo fmt --check
        working-directory: conecta-python

      - run: cargo test --lib --bins --tests --verbose
        working-directory: conecta-python

      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - uses: actions/checkout@v6

      - name: Copy README.md to conecta-python for maturin
        run: |
          cp README.md conecta-python/README.md

      - name: Install dependencies
        working-directory: conecta-python
        run: uv sync --dev

      - name: Run tests
        working-directory: conecta-python
        run: uv run pytest
